.navbar{

    flex-direction: column;
    align-items: center;
    

}

.home{
    height:255px;
}
.home::before{
    height: 420px;
}
.home h1{
    font-size: 1.5rem;
}
.primary{
    font-size: 1.5rem;
}
.home p{
    font-size: 0.8rem;
    text-align: center;
}
.btn{
    font-size: 0.7rem;

}
.logo img{
    width:65px ;
    height: 76px;
    
}
ul li a{
    font-size: 0.8rem;
    padding: 20px;
}
.container i{
    font-size: 5em;
}
.footer footer{
    font-size: small
}